.menu-layout{
    display: flex;
    flex-direction: column;
    border-radius: 1%;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(243, 243, 243);
    width: 100vh;
    margin: 2rem;
    padding: 1.5rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(0, 0, 0, 0.25);
}
.menu-list{
    display: flex;
    margin: auto;
    width: 800px;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

.orders-container{
    /* display: flex;
    flex-direction: row;
    justify-content: space-between  ;
    align-items:center; */
    background-color: rgb(243, 243, 243);
    width: 100vh;
    margin-top:100px;
    padding: 1.5rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(0, 0, 0, 0.25);
}
.order-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1rem;
}
.order-item{
    padding: 1rem;
}

.res-layout{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(243, 243, 243);
    width: 100vh;
    border-radius: 1%;
    margin: 2rem;
    padding: 1.5rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(0, 0, 0, 0.25);

}

.res-list{
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(0, 0, 0, 0.25);
    width: 400px;
    padding: 1rem;
    margin: 5px;
    color: white;
    background-color: rgb(12, 12, 63);
}
#res-list-ac:hover{
    transform: scale(1.1);
    cursor: pointer;
    background-color: rgb(3, 3, 85);
}
.cart{
    background-color: beige;
    color: rgb(12, 12, 63);
    margin: 0;
}
.cart:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.res-list:hover{
    background-color: rgb(3, 3, 85);
}