body{
    margin: 0px;
    padding: 0px;
}
.navbar{
    margin-top: 0px;
    padding: 0 1rem;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #001436;
    color: white;
}
.nav-links{
    display: flex;
    flex-direction: row;
}
.nav-links strong{
    color: white;
    padding: 2rem;
}

.nav-links :hover{
    transform: scale(1.2);
}